body {
  background: azure;
  height: 100vh;
  font-family: 'Outfit';
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.qr-image {
  border-radius: 20px;
  text-align: center;
}

.qr-code {
  align-items: center;
  background: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 20px;
  width: 225px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.text-container {
  margin-top: 20px;
  text-align: center;
}

.title {
  font-size: 1rem;
  font-weight: 700;
}

.text {
  font-size: 15px;
  font-weight: 400;
  color: grey;
}